Assignment2/
*.pdf
!HW2_Assignment_Intro.pdf
!HW2_NSYSU_Drone_RL_EN.pdf
part2 (task E)/models/*.zip
part2 (task E)/logs/events.*
__pycache__/
*.pyc
*.md~
python-c-users-user-miniconda3-envs-ml-crystalline-phoenix.md
